@using RepidShare.Entities
@{
    Layout = "~/Views/Shared/_webSiteMasterLayout.cshtml";
    ViewBag.Title = "Change Password";
}

@model ChangePasswordModel
<script src="@Url.Content("~/Scripts/chosen.jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="~/js/jquery.passwordstrength.min.js"></script>

<!--Container Region Start-->
<div class="container">
    <div class="clearfix margin15"></div>
    <h3>Change Your Password</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="summry-box padd15">

                @using (Ajax.BeginForm("ChangePassword", "User", null, new AjaxOptions { OnBegin = "beginRequest", OnSuccess = "onSuccess", OnComplete = "endRequest" }, new { @id = "frmChangePassword" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.Message, new { Value = Model.Message })
                    @Html.HiddenFor(m => m.MessageType, new { Value = Model.MessageType })

                    <div class="form-group">
                        <label for="password">Your new password:</label>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @id = "txtNewPassword", @maxlength = 128, @size = "60" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                    <p class="error">Your Password must be between 6 and 20 characters in lenght</p>
                    @*<div class="progress"><div class="progress-bar progress-bar-danger" style="width: 5%;"></div></div>*@
                    @*<div class="form-group">
                            <label for="password">Password strength:</label>

                            <div class="pwstrength_viewport_progress">
                                <div class="progress">
                                    <div class="progress-bar"><span class="password-verdict"></span></div>
                                </div>
                            </div>

                            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                        </div>*@

                    <div class="form-group">
                        <label for="password">Confirm new password:</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "txtConfirmPassword", @maxlength = 128, @size = "60" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>

                                <div class="row padd15">
                                    <span class="pull-left">
                                        <a href="/User/SummaryView/" class="forgot-link">
                                            Return to My account
                                        </a>
                                    </span>
                                    <span class="pull-right">
                                        <button id="btnChangePassword" type="button" class="btn btn-login">Submit <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        <input id="btnSubmit" type="submit" value="Submit" style="display: none" class="btn btn-primary" />
                                    </span>
                                </div>
                                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
                }
            </div>
        </div>

    </div>
</div>




@*<div class="container">

        <div class="content">
            <div class="wrapper">
                <div class="row">
                    <h1>Change your password</h1>
                </div>
                <div class="row" id="pwd-container">
                    <div class="col-md-12  center-block float-none">
                        <div class="promo_first col-lg-6">
                            @using (Ajax.BeginForm("ChangePassword", "User", null, new AjaxOptions { OnBegin = "beginRequest", OnSuccess = "onSuccess", OnComplete = "endRequest" }, new { @id = "frmChangePassword" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(m => m.Message, new { Value = Model.Message })
                                @Html.HiddenFor(m => m.MessageType, new { Value = Model.MessageType })
                                <div>
                                    <div class="login-wraper">
                                        <div class="login-info">

                                            <div class="form-group">
                                                <label for="password">Your new password:</label>
                                                @Html.PasswordFor(m => m.NewPassword, new { @id = "txtNewPassword", @maxlength = 128, @size = "60" })
                                                @Html.ValidationMessageFor(m => m.NewPassword)
                                            </div>

                                            <div for="NewPassword" class="error">Your password must be between 6 and 20 characters in length</div>
                                            <div class="form-group">
                                                <label for="password">Password strength:</label>

                                                <div class="pwstrength_viewport_progress">
                                                    <div class="progress">
                                                        <div class="progress-bar"><span class="password-verdict"></span></div>
                                                    </div>
                                                </div>

                                                <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                            </div>

                                            <div class="form-group">
                                                <label for="password">Confirm new password:</label>
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "txtConfirmPassword", @maxlength = 128, @size = "60" })
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                            </div>
                                            <div class="clearfix">
                                                <div class="right-btn pull-right">

                                                    <input id="btnChangePassword" type="button" value='Change Password' class="btn-green btn marT0 pull-right" />
                                                    <input id="btnSubmit" type="submit" value="Submit" style="display: none" class="btn btn-primary" />
                                                </div>
                                                <div class="overflow">
                                                    <div class="left-link">
                                                        <a href="forgot-password.html" class="forgot-link">
                                                            Return to My account
                                                        </a>
                                                    </div>
                                                </div>


                                            </div>
                                            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>*@
<!--Container Region End-->


<script type="text/javascript">
    $(document).ready(function () {

        $('#txtConfirmPassword').passwordStrength({
            minimumChars: 6
        });

        $("#txtOldPassword").focus();
        var msgType = '@Model.MessageType';
        var msg = '@Model.Message';
        if (msg != '' && msgType != '') {
            showMessage("divUserMessage", msgType, msg);
        }

        $("#btnChangePassword").click(function () {
            validateForm();
        });

        $("#btnCancel").click(function () {
            window.location.href = "/Home/Index";
        });

        $('#txtOldPassword').bind("cut copy paste", function (e) {
            e.preventDefault();
        });

        $('#txtNewPassword').bind("cut copy paste", function (e) {
            e.preventDefault();
        });

        $('#txtConfirmPassword').bind("cut copy paste", function (e) {
            e.preventDefault();
        });


    });

    function validateForm() {
        if ($("#frmChangePassword").valid()) {
            $("#btnSubmit").click();
        }
        else {
            $("#frmChangePassword").valid();
        }
    }
    function matchPassword() {
        $(".error").text("");
        if ($("#NewPassword").val() != "" && $("#ConfirmPassword").val() != "") {
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#lblError").show();
                $("#lblError").text("");
                return false;
            }
            else {
                $("#lblError").hide();
                $("#imgSaveProgress").show();
                $("#btnSave").hide();
                return true;
            }
        }
    }
    var onSuccess = function (result) {
        if (result != null) {

            if (result.url) {
                // if the server returned a JSON object containing an url
                // property we redirect the browser to that url
                window.location.href = result.url;
                endRequest();
            }
            else {
                $("#OldPassword").val("");
                $("#NewPassword").val("");
                $("#ConfirmPassword").val("");
                showMessage("divUserMessage", result.messageType, result.message);
            }
        }
        endRequest();
    }

    $(document).keyup(function (e) {
        if (e.keyCode == 13) {
            $("#btnSubmit").click();
        }
    });
</script>
