@using RepidShare.Entities
@model UserSummaryModel
@{
    Layout = "~/Views/Shared/_websiteLayout.cshtml";
    ViewBag.Title = "Summary View";
}

<!--Header Bottom egion Start-->
<div class="header_bottom">
    <div class="wrapper">
        <div class="links_main"><a href='javascript:void(0);' class="selected"><i class="fa fa-file-text"></i>Summary</a><a href="/User/MyTempletes"><i class="fa fa-book"></i>My Templates</a><a href="/User/MyDocument"><i class="fa fa-book"></i>My Documents</a></div>
    </div>
</div>
<!--Header Bottom egion End-->

<!--Container egion Start-->
<div class="container">
    <p>Welcome back to Desktop Lawyer.The document you last edited was<a href="javascript:void(0);"><strong>Commission linking agreement for websites</strong></a></p>

    <div class="row">
        <div class="col-sm-4 e_sidebar">
            <div class="summary_box">
                <h2>My documents</h2>

                <p>You do not own any documents. <a href="/Home/Index">Click here to browse the available documents</a></p>
            </div>
            <div class="summary_box_bottom">
                <p>This is an overview of all your documents. To see these in more detail, please visit <a href="/User/MyDocument">My documents</a>.</p>
            </div>
            <div class="summary_account">
                <div class="summary_box">
                    <h2>My documents</h2>

                    <a href="/User/Register">Update my account details</a>
                    <a href="/User/ChangePassword">Change my password</a>
                    <a href="javascript:void(0);">Manage my payment methodsn</a>
                    <a href="/User/BulletinView">Bulletin settings</a>
                </div>
                <div class="summary_box_bottom">
                    <p>Use the links above to manage your account.</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="e_contentMainWrapper e_spanRight summary_right">
                <div class="summary_box">
                    <h2>My documents</h2>

                    <div class="col-sm-3 freetrial">
                        <li>
                            <h4>Free trials</h4>
                            <span class="info" data-toggle="tooltip" data-placement="top"></span></li>
                        <li><a href="javascript:void(0);" title="@Model.FreeTrialCount free trials in progress">@Model.FreeTrialCount free trials in progress</a></li>
                    </div>
                    <div class="col-sm-3 freetrial">
                        <li>
                            <h4>In Progress</h4>
                            <span class="info"></span></li>
                        <li><a href="javascript:void(0);" title="@Model.InProgressCount documents in progress">@Model.InProgressCount documents in progress</a></li>
                    </div>
                    <div class="col-sm-3 freetrial unselected">
                        <li>
                            <h4>With Law firm</h4>
                            <span class="info"></span></li>
                        <li><a href="javascript:void(0);" title="No documents with lawyer">No documents with lawyer</a></li>
                    </div>
                    <div class="col-sm-3 freetrial unselected">
                        <li>
                            <h4>Approved </h4>
                            <span class="info"></span></li>
                        <li><a href="javascript:void(0);" title="No approved documents">No approved documents</a></li>
                    </div>
                </div>
                <div class="summary_box_bottom">
                    <p>This is an overview of all your documents. To see these in more detail, please visit <a href="/User/MyDocument">My documents</a>.</p>
                </div>
                <div class="summary_activity">
                    <div class="summary_box audit">
                        <h2>My activity</h2>

                        @if (Model.objListActivityModel != null && Model.objListActivityModel.Count > 0)
                        {
                            for (int i = 0; i < Model.objListActivityModel.Count; i++)
                            {
                            <div class="col-sm-3 activity_date">
                                <h6>@Model.objListActivityModel[i].CreatedOn.ToString("dd MMM yyyy hh:mm")</h6>
                            </div>
                            <div class="col-sm-9 activity_audit">
                                <span>
                                    <strong>Commission linking agreement for websites</strong>
                                    @Model.objListActivityModel[i].ActivityText
                                </span>
                            </div>
                            }
                        }
                    </div>
                    <div class="summary_box_bottom">
                        <p>Your activity over the last two weeks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Container egion End-->
<script>

    @*if ('@Model.objCategoryModel.CategoryName' == 'Family Law')
        $('body').addClass(' business e_body_subsite_home');
    else
        $('body').addClass(' family e_body_subsite_home');*@

</script>
